body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #a2d8e8,#439bd6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.register-card {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  color: #215d8c;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #215d8c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #2e7d32;
}

.note {
  margin-top: 15px;
  font-size: 0.9rem;
}

.note a {
  color: rgb(38, 6, 108);
  text-decoration: none;
  font-weight: bold;
}
